/* --------- Global Variables---------- */
body {
  font-family: "Helvetica, Arial, sans-serif";
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
}

a1 {
  text-decoration: none;
  color: inherit;
font-weight: 900;
}

p {
  font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
  color: #50575a;
  font-weight: 300;
  padding: 1%;
  margin-left: 3%;
  text-align: left;
}

p1 {
  font-size: 14px;
  color: rgb(122, 120, 120);
  font-weight:lighter;
}

p2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

p3{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: rgb(34, 34, 34);
  font-weight: 100;
}

p5 {
  display: flex;
  font-family: "Helvetica, Arial, sans-serif";
  text-align: left;
  flex-direction: column-reverse;
  padding-left: 1%;
  justify-content: center;
  /* padding-top: 15%; */
  padding-left: 5%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.02em;
  width: 50%;
  margin: auto;
  max-width: 100%;
}

h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120%;
  font-weight: 500;
  font-style: bold;
  width: 110%;
}

hr {
width: 90%;
}

.html {
  width: 2000%;
}

/* img {
  max-width: 100%;
} */
/* 
HTML {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

/* --------- Nav Bar ------------- */
.header {
  display: inline-flex;
  /* font-family: 'Helvetica, Arial, sans-serif' ; */
  background: #fbfef9;
  padding: 0.4%;
  width: 100%;
}

.header img {
  width: 80px;
}

ul li {
  display: inline-flex;
  list-style-type: none;
  font-size: 16px;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: end;
  padding: 0.4%;
}

/* -------------- Header Image ------------- */

.discover {
  background-image: url("Videos/Digital-connection.gif");
   max-height: 120%;
   max-width: 140%;
   background-repeat: no-repeat;
   background-size: cover;
  padding: 30%;
  text-align: left;
  font-size: 26px;
  padding-left: 4%;
  color: #fbfef9;
}

.discover h2 {
  size: 500px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 130%;
  padding-bottom:0%;
  padding-top: 0%;
  width: 55%;
}

.discover a {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}



/* ------------ Product section --------- */

.shop {
  /* display: block; */
  padding: 0 1%;
}

.top {
  padding-top: 6%;
}

.products {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.product {
  padding: 0 1.5%;
  margin-top: 1.5%;
  width: 90%;
  max-width: 100%;
}

.product p{
  padding: 0%;
  white-space: nowrap;
  /* padding-left: 2%; */
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
text-align: center;
  width: 100%;
  max-width: 100%;
  margin:  5% 0;
  margin-right: 0%;
}

.message img {
align-self:center;
  width: 165px;
}

.message h3 {
  font-family: "Helvetica, Arial, sans-serif";
  font: inherit;
  font-size: 25px;
  line-height: 120%;
  margin: 0%;
  width: 60%;
}

.message p {
  font-size: 15px;
  line-height: 150%;
  color: grey;
  margin: 0%;
  padding: 0%;
  width: 60%;
  font-weight: lighter;
  text-align: center;
}

/* -------------------- Technologies section --------------------- */
.technology {
  background-color: #f2f4f7;
  padding: 4% 0%;
  text-align: center;
  max-width: 100%;
}

/* .technology h1 {
  font-size: 40px;
font-weight: 400;
/* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/* font-family: 'Inter', sans-serif;
letter-spacing: 0.02em;
line-height: 120%;
} */

.technology figure img {
width: 100%;
height: 130%;
}

/* ------------------ Latest news sub-section ------------ */

.latest {
  display: block;
  padding: 3%;
  max-width: 100%;
}

.latest p {
 text-align: left;
}

.news {
  display: inline-flex;
  font-size: 120%;
  max-width: 100%;
}


.news a {
width: 100%;
}

.news1 a,  .news2 a {
  display: inline-flex;
  background-color: white;
  padding: 2%;
  max-width: 90%;
  width: 120%;
  height: 90%;
}

.news img {
  width: 30%;
  height: 160%;
  max-width: 100%;
  max-height: 100%;
}


/* -------------- Community Impact section -------------- */

.impact {
  padding: 8%;
  padding-left: 0%;
  padding-right: 0%;
  text-align: center;
  max-width: 100%;
}

.community {
  padding-bottom: 8%; 
}

/* .impact h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 125%;
} */

.image-container {
  display: inline-flex;
  padding-bottom: 8%;
  font-family: "Helvetica, Arial, sans-serif";
}

/* .image-container img {
  width: 410px;
  height: 512px;
  margin: 2%;
} */

.image-container img {
  width: 90%;
  height: 80%;
}

.image-container a p1,p3 {
  font-family: "Helvetica, Arial, sans-serif";
  display: block;
  width: 300px; 
  text-align: center;
}


/* --------------- Action subsection -------------- */

.actions {
  padding: 6%;
}

.privacy {
  display: inline-flex;
  padding: 1%;
  padding-top: 5%;
}

.secure {
  font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  line-height: 150%;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  background-color: rgba(28,43,51,255);
  color: #f2f4f7;
  padding: 10% 7%;
  font-size: 130%;
  width: 90%;
  height: 80%;
  border: none;
}

.secure p5 {
  display: block;
  font-family: 'Optimistic Text Normal', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin:  0 0 24px;  
}

.secure h2 {
  margin:  0 0 16px;
}

.actions img {
  width:100%;
  height: 100%;
}

/* ---------------- More Actions sub-section ---------- */

.related-actions {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  max-width: 100%;
}

.block-container {
  display: inline-flex;
  font-size: 120%;
  max-width: 100%;
}

.action1 a, .action2 a {
  display: inline-flex;
  background-color: white;
  padding: 2%;
  max-width: 90%;
  width: 120%;
  height: 90%;
  background-color: rgb(237, 237, 237);
}

.block-container img {
  width: 40%;
  height: 160%;
  max-width: 100%;
  max-height: 100%;
}

/* ----------------- Newsroom section ------------- */

.newsroom {
  padding: 6%;
  font-family: Arial, Helvetica, sans-serif;
}

.news-container {
  display: inline-flex;
}

.news-container a {
  text-align: left;
  width: 336px;
  padding-left: 25px;
}

.news-container p {
margin-left: 0%;
font-weight: 200;
font-size: small;
line-height: 140%; 
}

.news-container h3 {
  font-weight:100;
  font-size: 95%;
  line-height: 130%;
}

/* ------------- Site-map ------------ */

.site-map {
  display: inline-flex;
  background-color: #edf1f4;
  padding: 6%;
}

.social {
  width: 100%;
}

.social img {
width: 60%;
}


.blocks {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 30%);
padding: 1%;
width: 200%;
line-height: 200%;
}

.links {
  /* font-family: Arial, Helvetica, sans-serif; */
  display: block;
  margin: 10% 26%;
  width: 60%;
  font-size: 70%;
  font-weight:lighter;
  letter-spacing: 120%;
}

/* -------------- Footer -------------- */

footer {
  /* font-family: Arial, Helvetica, sans-serif; */
  display: inline-flex;
  margin: 0 2%;
  font-size: 70%;
  padding: 1.5% 0%;
  width: 70%;
}

footer a {
  margin: 0% 2%;

}

/* ------------ Responsive layout ---------- */


/* ----- Smaller screens ----- */

@media screen and (max-width: 767px) {

  /* main {
    width: 100%;
  } */
  
  body{
width: 200%;
  }

  p1, p2{
    font-size: 150%;
  }

  .discover {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .products {
    display: block;
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 4%;
    max-width: 100%;
    /* overflow:auto; */
  }
  
  .products figure img {
    max-width: 100%;
    max-height: 70%;
    padding: 2% 20%;
  }
  
  .products figure figcaption {
    padding: 0% 30%;
    text-align: center;
    font-size: 290%;
  }
  
  .message {
    width: 260%;
    padding-left: 20%;
  }

  .message h3, p {
    font-size: 230%;
  }

.technology {
  width: 100%;
  padding-top: 10%;
  padding-left: 0%;
}

.technology figure img {
  width: 100%;
}

.news {
  display: block;
  width: 100%;
}


.news1 a {
  font-size: 150%;
  padding: 0%;
  padding-left: 10%;
padding-top: 7%;
width: 100%;
}

  

/* .image-container {
  padding: 10%;
  padding-bottom: 30%;
} */



}


/* Break points:
max-width: 767px
max-width: 445px
min-width: 768 px and max-width: 1024 px




*/